<h1>Results</h1>

<ul>
  <% @results.each do |result| %>
    <li> <%= result.title %> </li>
      <p>Answers:</p>
      <ul>
        <% result.answers.each do |answer| %>
        <li><%= answer.body %></li>
        <% end %>
      </ul>
  <% end %>
</ul>
